
#conversationWindow {
    display: flex;
    height: 78vh;
    flex-direction: column;
    overflow: scroll;
}

.montesseratText {
    font-family: 'Montserrat', sans-serif;
}

/* conversation list */
.conversation {
    list-style: none;
}

/*  Message block */
.message-block {
    clear:both; 
    overflow:auto; 
    padding:20px 0px;
}

/* message bubbles (input) */
.message-bubble {
    margin:5px; 
    border-radius:10px; 
    width:400px; 
    font-size:20px; 
    padding:0px 15px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-msg {
    float:right; 
    background-color:#607d8b; 
    color:white; 
}

.response-msg {
    float:left; 
    background-color:whitesmoke; 
    color:#607d8b; 
}

.newWord {
    color: #7accf2;
    font-weight: bold;
}

/* label color */
.input-field label {
    color: #90a4ae;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}

/* input box uppertext focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #607d8b !important;
}

/* input box underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #607d8b !important;
    box-shadow: 0 1px 0 0 #607d8b !important;
}

/* input box underline invalid color*/
.input-field input[type=text].invalid {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}

/* side nav */
.sidenav{
    top: 65px;
    width: 250px;
 }


