.montesseratText {
    font-family: 'Montserrat', sans-serif;
}

/* #inputBox {
    position: fixed;
    bottom: 0px;
} */

/* label color */
.input-field label {
    color: #90a4ae;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #607d8b;
}

/* input box uppertext focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #607d8b !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #607d8b !important;
    box-shadow: 0 1px 0 0 #607d8b !important;
}
